/node_modules/*
!/node_modules/materialize-css/
/node_modules/materialize-css/*
!/node_modules/materialize-css/sass/
/node_modules/materialize-css/sass/*
!/node_modules/materialize-css/sass/components
/node_modules/materialize-css/sass/components/*
!/node_modules/materialize-css/sass/components/_variables.scss

/public/hot
/public/storage/avatars/*
!/public/storage/avatars/default.jpg
/public/storage/tereni/*
!/public/storage/tereni/default.jpg
!/public/storage/tereni/Teren1Slika1.jpg
!/public/storage/tereni/Teren1Slika2.jpg
!/public/storage/tereni/Teren1Slika3.jpg
!/public/storage/tereni/Teren1Slika4.jpg
!/public/storage/tereni/Teren2Slika1.jpg
!/public/storage/tereni/Teren2Slika2.jpg
!/public/storage/tereni/Teren2Slika3.jpg
!/public/storage/tereni/Teren3Slika1.jpg
!/public/storage/tereni/Teren3Slika2.jpg
!/public/storage/tereni/Teren4Slika1.png
!/public/storage/tereni/Teren4Slika2.png
!/public/storage/tereni/Teren4Slika3.png
!/public/storage/tereni/Teren5Slika1.jpg
!/public/storage/tereni/Teren5Slika2.jpg
!/public/storage/tereni/Teren5Slika3.jpg
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env