/node_modules/*
!/node_modules/materialize-css/
/node_modules/materialize-css/*
!/node_modules/materialize-css/sass/
/node_modules/materialize-css/sass/*
!/node_modules/materialize-css/sass/components
/node_modules/materialize-css/sass/components/*
!/node_modules/materialize-css/sass/components/_variables.scss

/public/hot
/public/storage/avatars/*
!/public/storage/avatars/default.jpg
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env