footer.page-footer {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.tabs-content.carousel .carousel-item { height:1200px; }

.fa-basketball-ball {
  color: orange;
}

.fas.fa-futbol {
  color: silver;
}

.fa-table-tennis {
  color: lime;
}

.far.fa-futbol.fa-lg.futsal {
  color: lightskyblue;
}
